.carrossel {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.carrossel-text {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #ffffff;
    margin-top: 12px;
    margin-bottom: 12px;
}

.carrossel-line {
    width: 80%;
    max-width: 325px;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 24px;
}

.carrossel-text .semibold {
    font-weight: 600;
}

.container-two-carrossel {
    display: flex;
    padding: 0px 0px 0px 14px;

}

.two-carrossel {
    text-align: start;
}

.two-carrossel .ver-todas {
    margin-left: 48px;
    margin-top: 24px;
}

.two-carrossel .carrossel-line {
    margin-top: 10px;
    width: 100%;
}

.cell-desktop {
    display: none;
}

/* Slides */
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

/* Estilização das divs de imagens */
.carrossel-item {
    width: 68px;
    height: 91px;
    background-size: cover;
    background-position: center;
    border-bottom-right-radius: 12px;
}

/* Botão abaixo das imagens */
.ver-todas {
    margin-top: 12px;
    background-color: #ffffff;
    color: #333333;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    padding: 6px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 6px;
    transition: background 0.3s ease;
    margin-bottom: 12px;
}

.ver-todas:hover {
    background-color: #f0f0f0;
}

/* Indicadores fora do carrossel */
.indicators-wrapper {
    margin-top: 6px;
    text-align: center;
}

/* Cada indicador: 50x50, círculo */
.dot {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    /* inativo: cinza */
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

/* Indicador ativo */
.dot.active {
    background-color: #333333;
    /* cor ativa (mantida conforme sua escolha) */
}

@media (min-width: 1024px) {
    .carrossel-item {
        width: 116px;
        height: 155.24px;
    }

    .slides {
        gap: 40px;
    }

    .carrossel-text {
        font-size: 24px;
        margin-top: 24px;
    }

    .carrossel-line {
        max-width: 550px;
        margin-bottom: 32px;
    }

    .ver-todas {
        font-size: 24px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .zap-mobile {
        display: none;
    }

    .cell-desktop {
        display: block;
    }

    .two-carrossel {
        width: 486px;
        margin-right: 323px;
    }

    .two-carrossel .carrossel-text {
        margin-top: 48px;
    }

    .cta-text {
        font-size: 16px !important;
        line-height: 1.4;
        display: inline-block;
        max-width: 300px;
     }

     .cell-desktop {
        position: absolute;
        bottom: -24px; 
        right: 334px; 
        width: auto; 
        max-width: 100%; 
        z-index: 1;
    }

    .carrossel {
        height: 356px;
    }
}